<ion-header>
    <ion-title>Update password</ion-title>
</ion-header>
<ion-content>
  <div text-center class="logo">
    <img src="assets/ionic-aws-logo.png" />
  </div>
  <form #form="ngForm" (submit)="changePassword()">
    <ion-list>

      <ion-item>
        <ion-label floating>Current password</ion-label>
        <ion-input [(ngModel)]="passwordUpdate.oldPwd" type="password" autocorrect="off" autocapitalize="none" name="oldPwd"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>New password</ion-label>
        <ion-input [(ngModel)]="passwordUpdate.newPwd0" type="password" name="newPwd0" required></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>New password again</ion-label>
        <ion-input [(ngModel)]="passwordUpdate.newPwd1" type="password" name="newPwd1" required></ion-input>
      </ion-item>

      <div *ngIf="passwordUpdate.newPwd0 && passwordUpdate.newPwd1 && 
                  passwordUpdate.newPwd1 != passwordUpdate.newPwd0">
                  <p style="color: red">
                      New passwords do not match!
                  </p>
      </div>

      <div padding>
        <button ion-button color="primary" block 
        [disabled]="!form.valid || passwordUpdate.newPwd0 != passwordUpdate.newPwd1"
        >Change password</button>
      </div>

    </ion-list>
  </form>
  <p class="error" *ngIf="error" text-center>
    {{error.message}}
  </p>
</ion-content>
