<ion-content>
  <div text-center class="logo">
    <img src="assets/ionic-aws-logo.png" />
  </div>
  <form #form="ngForm" (submit)="confirmNewPassword()">
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="passwordResetDetails.username" type="text" autocorrect="off" autocapitalize="none" name="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Verification code</ion-label>
        <ion-input [(ngModel)]="passwordResetDetails.code" type="text" autocorrect="off" autocapitalize="none" name="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="passwordResetDetails.newPassword0" type="password" name="password0" required></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Password again</ion-label>
        <ion-input [(ngModel)]="passwordResetDetails.newPassword1" type="password" name="password1" required></ion-input>
      </ion-item>

      <div *ngIf="passwordResetDetails.newPassword0 && passwordResetDetails.newPassword1 && 
                  passwordResetDetails.newPassword1 != passwordResetDetails.newPassword0">
                  <p style="color: red">
                      Passwords do not match!
                  </p>
      </div>

      <div padding>
        <button ion-button color="primary" block type="submit"
        [disabled]="!form.valid || passwordResetDetails.newPassword0 != passwordResetDetails.newPassword1">Reset</button>
      </div>

    </ion-list>
  </form>
  <p class="error" *ngIf="error" text-center>
    {{error.message}}
  </p>
</ion-content>
